.progress-hp::-moz-progress-bar, .progress-hp::-webkit-progress-bar {
    background: #3c723b;
}

.progress-attack::-moz-progress-bar, .progress-hp::-webkit-progress-bar {
    background: #ca0808;
}

.progress-sp-attack::-moz-progress-bar, .progress-hp::-webkit-progress-bar {
    background: #ca0808;
}

.progress-sp-defense::-moz-progress-bar, .progress-hp::-webkit-progress-bar {
    background: #3c723b;
}
